[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Projects
[access "refs/*"]
	owner = group user/rmockler
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rmockler
	label-Verified = -1..+1 group user/rmockler
	push = group user/rmockler
	read = group user/rmockler
	rebase = group user/rmockler
	removeReviewer = group user/rmockler
	submit = group user/rmockler
[access "refs/heads/*"]
	create = group user/rmockler
	push = +force group user/rmockler
	pushMerge = group user/rmockler
	read = group user/rmockler
[access "refs/tags/*"]
	push = group user/rmockler
	push = +force group user/rmockler
